.DS_Store
examples/**/controllers/**/block_images/
examples/**/controllers/**/block_images/*
examples/**/controllers/**/block_images/**/*
examples/**/controllers/**/slprj/**/*
examples/**/controllers/**/slprj/
examples/**/controllers/**/**.slxc
examples/**/controllers/**/**.slx.autosave
examples/**/controllers/**/**.r*
examples/**/controllers/**/**.asv